{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container">
        <header>
          <div class="flex-box">
            <span class="forum">Forum</span>
          </div>
          <div class="flex-box">
            <div class="header-menu">
              <button
                class="button home-button"
                onclick="location.href='/movies/'"
              >
                Home
              </button>
              <button class="button login-button" id="login-button" onclick="toggleButtonsAndRedirect()">
                Log In
            </button>
            <button class="button logout-button" id="logout-button" style="display: none;" onclick="location.href='/bcuser/logout/'">
                Log Out
            </button>
            
            <script>
                function toggleButtonsAndRedirect() {
                    const loginButton = document.getElementById('login-button');
                    const logoutButton = document.getElementById('logout-button');
            
                    loginButton.style.display = 'none';   // Hide the login button
                    logoutButton.style.display = 'block'; // Show the logout button
            
                    // Redirect to the login page
                    window.location.href = '/bcuser/login/';
                }
            </script>
            </div>
          </div>
        </header>
        <main>
          <div class="flex-box">
            <button
                class="button write-button"
                onclick="location.href='{% url "post_new" %}'"
              >
                글쓰기
              </button>
          </div>
          {% for post in posts %}
          <hr>
          <div class="flex-box">
            
            <div class="post-card">
              {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
                <div class="card-body">
                    <p class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> <span class="author">by {{ post.author }}</span></p>
                    <p class="card-text">{{ post.text|truncatewords:30 }}</p>
                </div>
            </div>
          </div>

          {% empty %}
          <div class="flex-box">
            <div class="empty">
              <p>No Post Yet.</p>
          </div>
          </div>
        
          {% endfor %}
          
        </main>
      </div>
    </div>
  </body>
</html>
