{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Post</title>
    <link rel="stylesheet" href="{% static 'css/post_new.css' %}" />
</head>
<body>
    <div class="outer-container">
        <div class="inner-container">
            <div class="flex-box">
                <h1>글쓰기</h1>
            </div>

            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-box">
                    <div class="form-container">{{ form.as_p }}</div>
                </div>

                <!-- Summernote editor -->
                <div class="flex-box">
                    <textarea id="summernote" name="content"></textarea>
                </div>

                <div class="flex-box">
                    <button type="submit" class="button save-button">저장</button>
                </div>
            </form>

            <div class="flex-box">
                <button class="button forum-button" onclick="location.href='{% url 'post_list' %}'">
                    돌아가기
                </button>
            </div>
        </div>
    </div>

</body>
</html>
