@charset "UTF-8";

@font-face {
  font-family: "MexcellentRegular";
  src: url("../font/mexcellent.regular.otf") format("opentype");
}

@font-face {
  font-family: "ParisienneRegular";
  src: url("../font/Parisienne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSerifKRRegular";
  src: url("../font/NotoSerifKR-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSerifKRRegular";
}

ul,
li {
  list-style: none;
}

.outer-container {
  width: 830px;
  margin: 10px auto;
  border: 2px solid black;
  padding: 3px;
}

.inner-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 10px;
}

.flex-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 15px;
  font-size: 47px;
}

header {
  margin-bottom: 20px;
}
/* .header-button {
  width: 300px;
  margin: 0 auto;
} */

.button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  /* font-size: 27px; */
  /* font-family: "ParisienneRegular"; */
  /* color: rgb(211, 179, 0); */
}

.home-button {
  font-family: "ParisienneRegular";
  font-size: 23px;
}

.forum-button {
  font-family: "ParisienneRegular";
  font-size: 51px;
}

.login-button {
  font-family: "ParisienneRegular";
  font-size: 23px;
  float: right;
}

.logout-button {
  font-family: "ParisienneRegular";
  font-size: 23px;
  float: right;
}

.post-card {
  margin: 85px;
  margin-top: 110px;
  width: 450px;
}

.post-title {
  font-size: 32px;
  text-align: center;
}

.post-author {
  font-size: 16px;
  float: right;
}

.post-body {
  width: 450px;
  font-size: 16px;
  margin: 10px;
}

.header-menu {
  width: 450px;
  border: 1px solid black;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

hr {
  width: 450px;
  margin: 0px auto;
  border: 1px solid rgba(0, 0, 0, 0.123);
}

img {
  width: 450px;
  margin: 10px;
}

.comment-body {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

.comment-name {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.692);
}

.comment-form-container {
  width: 400px;
}

.no-comment {
  font-family: "ParisienneRegular";
  font-size: 23px;
}

.edit-button {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.534);
  margin: 45px;
}

.comment-open-button {
  font-size: 23px;
  color: rgb(0, 0, 0);
  margin: 45px;
}

.comment-button {
  font-size: 22px;
  color: rgb(0, 0, 0);
  margin: 45px;
}

.comment-form-outercontainer {
  display: none;
}
